* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);
}

body {
    height: 100vh;
    background: var(--bg-url) no-repeat top center/cover;
}

body * {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 6rem 1rem;
    overflow: hidden;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    overflow: hidden;
}

header img {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    border: 1px solid var(--stroke-color);
}

#switch {
    width: 4rem;
    position: relative;
    margin: 0.5rem auto;
}

.light #switch button {
    animation: slide-in 0.2s forwards;
}

#switch button {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 0;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
    z-index: 1;
    transform: translateY(-50%);
    animation: slide-back 0.2s ease-in-out;
    cursor: pointer;
    transition: outline 0.2s;
}

#switch button:hover {
    outline: 0.5rem solid var(--highlight-color);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

ul li {
    list-style: none;
}

ul li button {
    background: none;
    border: none;
    cursor: pointer;
}

.links-container {
    width: 100%;
    max-width: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.links-container li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.links-container .links {
    width: 100%;
    padding: 1rem;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 0.5rem;
    font-size: 1rem;
    text-align: center;
    transition: background 0.2s;
}

.links-container .links:hover {
    background: var(--surface-color-hover);
}

.social-media {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.social-media li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 0.8rem;
    transition: background 0.2s;
}

.social-media li a:hover {
    background: var(--highlight-color);
}

footer {
    font-size: 1rem;
    text-align: center;
}

footer a {
    text-decoration: underline;
}

@media (min-width: 700px) {
    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
    }

    .light {
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }
}

@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}
